.header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  position: fixed;
  width: 100%;
  background-color: var(--primary-color);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  z-index: 9999;
}

.logo {
  font-size: 30px;
  font-weight: 700;
  width: 30%;
}

.logo a {
  cursor: pointer;
  text-decoration: none;
  font-size: 30px;
  font-weight: 700;
  color: white;
}

.links {
  display: flex;
  list-style: none;
  gap: 30px;
  align-items: center;
  font-weight: 600;
  color: white;
  display: flex;
  justify-content: center;
}

.links li {
  cursor: pointer;
  text-decoration: none;
}

.links li a {
  text-decoration: none;
  color: white;
}

.header .button {
  border: none;
  cursor: pointer;
  background-color: #55afeb;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
}

.nav-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 30%;
  justify-content: end;
}


li:hover a {
  color: #57b1ee;
}

.admin-btn {
  position: relative;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 10px;
  margin-top: 5px;
  text-decoration: none;
  border-radius: 5px;
}

.dropdown-content ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-decoration: none;
}

.dropdown-content ul li a {
  cursor: pointer;
  text-decoration: none;
  color: #999;
  font-size: 15;
  font-weight: 600;
}